<h1> SASSY WITH MILO </h1>

<div class="post">
  <h2>First Post</h2>
  <h3 class='author'>Author name</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

  </div>
</div>

<div class="post">
  <h2>Second Post</h2>
  <h3 class='author'>Author name</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

  </div>

</div>

<div class="post">
  <h2>Third Post</h2>
  <h3 class='author'>Author name</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

  </div>
</div>

<div id="other">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi hic beatae eaque porro praesentium fugit omnis esse repudiandae mollitia, doloremque accusamus temporibus sunt nihil dignissimos vero quae autem, eius vel.
  </p>
</div>

<hr>

<div class="notification">
  this is a notice
</div>

<div class="error">
  this is an error
</div>

<div class="success">
  this is success
</div>
